.productPage {
    padding: 10px;
    // margin-top: 120px;

    .imageContainer{
        margin-top: 80px;
        width: 100%;
        height: 60dvh;
        // background: #f5f5f5;
        padding: 10px;
        border-radius: 20px;

        img{
            object-fit: contain;
        }
    }

    .productTitle {
        font-size: 28px;
        font-weight: 400px;
        color: var(--primary-color);
    }
    .description {
        margin-top: 20px;
        font-size: 20px;
        font-weight: 400px;
        line-height: 1.6;
        color: #333333;
    }

    @media screen and (max-width: 768px) {
        .productTitle {
            font-size: 48px;    
        }
    }
}