.footer{
    position: relative;
    overflow: hidden;
    margin: 10px;
    padding:60px;
    background: var(--light-gray-color);
    min-height: 200px;
    border-radius: 24px;

    .logoContainer {
        color: var(--black-color);
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 5px;

        .logo {
            background: var(--white-color);
            padding: 2px;
            border-radius: 10px;
            width: auto;
            height: 25px;
        }
    }

    .footerText{
        font-size: 16px;
        font-weight: 400;
        margin-top: 10px;
    }

    .footerLinks{
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 20px;

        .footerLink{
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            color: var(--black-color);
        }
    }

    .footerTitleImage{
        min-width: 85vw;
    }
   
    
}



@media (max-width: 767px){
    .footer{
        padding: 20px;
    }
}